// Python Development Layout
layout {
    pane_template name="nix" {
        command "nix-shell"
    }
    pane {
        // TOP TAB BAR
        // pane size=1 borderless=true {
        //     plugin location="zellij:tab-bar"
        // }
        // Working Section
        pane split_direction="vertical" {
            nix {
                size "65%"
        	    name "lsp"
        		focus true
                args  "shell_lsp.nix"
        	}
            pane {
                nix name="test" 
                nix name="run"
                nix name="repl" 
            }
        }
        // BOTTOM STATUS BAR
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
}

